
.container {
  height: 100vh;
  display: flex;
}

.slider {
  width: 200px;
  height: 100%;
  background-color: #111;
  display: flex;
}

.main {
  
}

.card :global {
  .content  {
      display: flex;
      flex-direction: column;
    .cardSubTitle {
      color: #666;
    }
  }
}